@charset "UTF-8";

@font-face {
    font-family: normal;
    src: url(../Fonts/Segoe\ UI.ttf);
}
@font-face {
    font-family: bold;
    src: url(../Fonts/Segoe\ UI\ Bold.ttf);
}
@font-face {
    font-family: bold italic;
    src: url(../Fonts/Segoe\ UI\ Bold\ Italic.ttf);
}
@font-face {
    font-family: italic;
    src: url(../Fonts/Segoe\ UI\ Italic.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: normal;
    overflow: hidden;
}

div.container-modal-ativar{
    display: flex;
    width: 100%;
    height: 100%;
}

div.container-modal-ativar > div.cor{
    width: 5%;
    height: 100%;
    background-color: #6b1bc6;
    border-radius: 10px 0px 0px 10px;
}

div.container-modal-ativar > div.corpo{
    width: 95%;
    height: 100%;
}

div.container-modal-ativar > div.corpo > hr{
    width: 100%;
}

div.container-modal-ativar > div.corpo > h1{
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.container-modal-ativar > div.corpo > p{
    margin-top: 10px;
    margin-left: 40px;
}

div.container-modal-ativar >div.corpo > p > span{
    color: #6b1bc6;
    font-weight: bold;
}
div.container-modal-ativar > div.corpo > div.botoesAI{
    display: flex;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}

div.cancel{
    margin-right: 10px;
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    padding-top: 4px;
    padding-left: 20px;
    cursor: pointer;
}

div.cancel:hover{
    background-color: #7f42c4;
}

div.Ativar{
    display: flex;
    background-color: rgba(0, 128, 0, 0.419);
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    padding-top: 3px;
    padding-left: 10px;
    cursor: pointer;
}

div.Ativar:hover{
    background-color: rgba(0, 128, 0, 0.719);
}

div.Ativar > span{
    margin-left: 10px;
}