@charset "UTF-8";

@font-face {
    font-family: normal;
    src: url(../Fonts/Segoe\ UI.ttf);
}
@font-face {
    font-family: bold;
    src: url(../Fonts/Segoe\ UI\ Bold.ttf);
}
@font-face {
    font-family: bold italic;
    src: url(../Fonts/Segoe\ UI\ Bold\ Italic.ttf);
}
@font-face {
    font-family: italic;
    src: url(../Fonts/Segoe\ UI\ Italic.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: normal;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
}

section.menu{
    background-color: #ffffff;
    height: 100%;
    width: 18.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.334);
    border-radius: 0px 10px 0px 0px;
}

section.menu > div.opc > img{
    padding: 20px;
    width: 100%;
    background-color: #6b1bc6;
    border-radius: 0px 10px 10px 0px;
}

hr{
    width: 180px;
    margin: 0 auto;
}

div.opcao{
    color: #6b1bc6;
    width: 225px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

div.opcao > p{
    display: inline-block;
    padding-left: 15px;
}

div.opcao > span{
    top: 80%;
    left: 50%;
    transform: translate(30%,30%);
}

div.opcao:hover{
    background-color: #6b1bc6;
    color: white;
}

section.home{
    width: 81.5%;
    height: 100%;
}

header{
    width: 100%;
    height: 13%;
    display: flex;
}

div.cont-imput{
    position: relative;
    padding-top: 40px;
    padding-left: 30px;
}

div.cont-imput > span{
    position: absolute;
    left: 50px;
    top: 68%;
    transform: translateY(-50%);
    color: #6b1bc6;
}

div.cont-imput > input{
    width: 600px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.314);
    padding-left: 60px;
}

div.cont-imput input:hover{
    border: 3px solid #6b1bc674;
}

div.cont-imput input:focus{
    border: 3px solid #6b1bc6b4;
    outline: none;
}

div.cont-imput input::placeholder{
    color: rgba(128, 128, 128, 0.474);
}

section.home{
    width: 81.5%;
    height: 100%;
}

div.iframe{
    width: 100%;
    height: 87%;
    
}

iframe{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.cont-botao{
    padding-top: 35px;
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-self: center;
}

#toggleBt{
    background-color: rgb(180, 179, 179);
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-self: center;
    position: relative;
    transition: background-color 0.3s ease;
}
 
#toggle{
    background-color: white;
    border-radius: 50%;
    width: 28px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

#toggleBt.active{
    background-color: #6b1bc6;
    justify-content: flex-end;
}

#toggleBt.active #toggle{
    left: calc(100% - 30px);
}

#notIcon{
    width: 1.5vw;
}

#paintIcon{
    width: 100%;
    margin: auto;
}

div.cont-sino{
    padding-top: 55px;
    padding-left: 15px;
    color: #6b1bc6;
    cursor: pointer;
}

div.perfilzinho{
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    width: 250px;
    height: 70px;
    background-color: #6b1bc6;
    border-radius: 10px;
    border: 2px solid #cbabf0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.245);
}

div.perfilzinho > img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 20px;
}

div.perfilzinho > p{
    display: inline-block;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 19%;
    left: 30%;
    font-size: 0.8em;
}


div.perfilzinho > span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

div.perfilzinho > span:hover{
    color: #cbabf0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modal-comp{
    background-color: #fff;
    border-radius: 10px;
    width: 550px;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.modal-comp > div.container{
    display: flex;
    width: 100%;
    height: 100%;
}

div.container > div.cor{
    width: 5%;
    height: 100%;
    background-color: #6b1bc6;
    border-radius: 10px 0px 0px 10px;
}

div.container > div.comp{
    width: 95%;
    height: 100%;
}

div.comp > div.cima > h1{
    font-size: 1.5em;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.comp > div.cima > p{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.289);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 130px;
}

div.comp > div.cima > hr{
    width: 100%;
}

div.comp > div.meio {
    margin-left: 20px;
}

div.comp > div.meio > p{
    margin-top: 20px;
    margin-bottom: 20px;
}

div.comp > div.meio > p > span{
    color: #6b1bc6;
    font-weight: bold;
}

p.cont-input{
    position: relative;
}

p.cont-input > span{
    position: absolute;
    left: 440px;
    top: 50%;
    transform: translateY(-50%);
    color: #6b1bc6;
}

div.comp > div.meio > p > input{
    width: 480px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.289);
    padding-left: 10px;
}

div.comp > div.meio > p > input:hover{
    border: 3px solid #6b1bc674;
}

div.comp > div.meio > p > input:focus{
    border: 3px solid #6b1bc6b4;
    outline: none;
}

div.baixo{
    width: 100%;
    height: 200px;
}

div.baixo > div{
    position: relative;
    margin-left: 20px;
    width: 92%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.248);
    border-radius: 10px;
}

div.baixo > div > img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

div.baixo > div > p{
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
}

div.opcao-v-e > div.visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 10px;
    cursor: pointer;
}

div.opcao-v-e > div.visualizar > p{
    padding-left: 10px;
}


div.opcao-v-e > div.editar{
    display: none;
    background-color: #6b1bc6;
    color: white;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 10px;
    cursor: pointer;
}

div.opcao-v-e > div.editar > p{
    padding-left: 25px;
}

.modalzinho1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalzinho1 > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 85px;
    position: absolute;
    top: 64.5%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.modalzinho1 > div.comporta > div.Visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

div.Visualizar > p{
    padding-top: 3px;
    padding-left: 20px;
}

.modalzinho1 > div.comporta > div.Editar{
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

div.Editar > p{
    padding-top: 5px;
    padding-left: 35px;
}

.modalzinho2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalzinho2 > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 85px;
    position: absolute;
    top: 72%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.modalzinho2 > div.comporta > div.Visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

.modalzinho2 > div.comporta > div.Editar{
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}
.modalzinho3{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalzinho3 > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 85px;
    position: absolute;
    top: 80%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.modalzinho3 > div.comporta > div.Visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

.modalzinho3 > div.comporta > div.Editar{
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

.modal-excluir{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-excluir > div.comporta{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    width: 550px;
    height: 27%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-excluir > div.comporta > div.cor{
    width: 5%;
    height: 100%;
    background-color: #6b1bc6;
    border-radius: 10px 0px 0px 10px;
}

.modal-excluir > div.comporta > div.corpo{
    width: 95%;
    height: 100%;
}

.modal-excluir > div.comporta > div.corpo > h1{
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.modal-excluir > div.comporta > div.corpo > hr{
    width: 100%;
}

.modal-excluir > div.comporta > div.corpo > p{
    margin-top: 10px;
    margin-left: 40px;
}

.modal-excluir > div.comporta > div.corpo > p > span{
    color: #6b1bc6;
    font-weight: bold;
}

div.bcr{
    display: flex;
    margin-top: 20px;
}

div.bcr > div.cancelar{
    padding-top: 5px;
    padding-left: 40px;
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    margin-left: 200px;
    cursor: pointer;
}

div.bcr > div.remover{
    display: flex;
    background-color: white;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 22px;
    width: 140px;
    height: 35px;
    margin-left: 10px;
    cursor: pointer;
}

div.bcr > div.cancelar:hover{
    background-color: #7f42c4;
}

div.bcr > div.remover:hover{
    background-color: rgba(255, 0, 0, 0.308);
}

div.modal-editar{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.cont-modal-iframe{
    background-color: #fff;
    border-radius: 10px;
    width: 900px;
    height: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.cont-modal-iframe > iframe{
    border-radius: 10px;
}