@charset "UTF-8";

@font-face {
    font-family: normal;
    src: url(../Fonts/Segoe\ UI.ttf);
}
@font-face {
    font-family: bold;
    src: url(../Fonts/Segoe\ UI\ Bold.ttf);
}
@font-face {
    font-family: bold italic;
    src: url(../Fonts/Segoe\ UI\ Bold\ Italic.ttf);
}
@font-face {
    font-family: italic;
    src: url(../Fonts/Segoe\ UI\ Italic.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: normal;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
}

section.menu{
    background-color: white;
    height: 100%;
    width: 18.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.334);
    border-radius: 0px 10px 0px 0px;
}

section.menu > div.opc > img{
    padding: 20px;
    width: 100%;
    background-color: #6b1bc6;
    border-radius: 0px 10px 10px 0px;
    object-fit: cover;
}

hr{
    width: 180px;
    margin: 0 auto;
}

div.opcao{
    color: #6b1bc6;
    width: 225px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

div.opcao#cf{
    display: none;
}

div.opcao > p{
    display: inline-block;
    padding-left: 15px;
}

div.opcao > span{
    top: 80%;
    left: 50%;
    transform: translate(30%,30%);
}

div.opcao:hover{
    background-color: #6b1bc6;
    color: white;
}

section.home{
    width: 81.5%;
    height: 100%;
}

header{
    width: 100%;
    height: 13%;
    display: flex;
}

div.cont-imput{
    position: relative;
    padding-top: 40px;
    padding-left: 30px;
}

div.cont-imput > span{
    position: absolute;
    left: 50px;
    top: 68%;
    transform: translateY(-50%);
    color: #6b1bc6;
}

div.cont-imput > input{
    width: 600px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.314);
    padding-left: 60px;
}

div.cont-imput input:hover{
    border: 3px solid #6b1bc674;
}

div.cont-imput input:focus{
    border: 3px solid #6b1bc6b4;
    outline: none;
}

div.cont-imput input::placeholder{
    color: rgba(128, 128, 128, 0.474);
}

section.home{
    width: 81.5%;
    height: 100%;
}

div.iframe{
    width: 100%;
    height: 87%;
    
}

iframe{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.cont-botao{
    padding-top: 35px;
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-self: center;
}

#toggleBt{
    background-color: rgb(180, 179, 179);
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-self: center;
    position: relative;
    transition: background-color 0.3s ease;
}
 
#toggle{
    background-color: white;
    border-radius: 50%;
    width: 28px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

#toggleBt.active{
    background-color: #6b1bc6;
    justify-content: flex-end;
}

#toggleBt.active #toggle{
    left: calc(100% - 30px);
}

#notIcon{
    width: 1.5vw;
}

#paintIcon{
    width: 100%;
    margin: auto;
}

div.cont-sino{
    padding-top: 55px;
    padding-left: 15px;
    color: #6b1bc6;
}

div.cont-sino > span{
    cursor: pointer;
}

div.perfilzinho{
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    width: 280px;
    height: 70px;
    background-color: #6b1bc6;
    border-radius: 10px;
    border: 2px solid #cbabf0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.245);
}

div.perfilzinho > img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 20px;
}

div.perfilzinho > p{
    display: inline-block;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 19%;
    left: 30%;
    font-size: 0.8em;
}


div.perfilzinho > span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

div.perfilzinho > span:hover{
    color: #cbabf0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modal-comp{
    background-color: #fff;
    border-radius: 10px;
    width: 550px;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.modal-comp > div.container{
    display: flex;
    width: 100%;
    height: 100%;
}

div.container > div.cor{
    width: 5%;
    height: 100%;
    background-color: #6b1bc6;
    border-radius: 10px 0px 0px 10px;
}

div.container > div.comp{
    width: 95%;
    height: 100%;
}

div.comp > div.cima > h1{
    font-size: 1.5em;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.comp > div.cima > p{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.289);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 130px;
}

div.comp > div.cima > hr{
    width: 100%;
}

div.comp > div.meio {
    margin-left: 20px;
}

div.comp > div.meio > p{
    margin-top: 20px;
    margin-bottom: 20px;
}

div.comp > div.meio > p > span{
    color: #6b1bc6;
    font-weight: bold;
}

p.cont-input{
    position: relative;
}

p.cont-input > span{
    position: absolute;
    left: 440px;
    top: 50%;
    transform: translateY(-50%);
    color: #6b1bc6;
}

div.comp > div.meio > p > input{
    width: 480px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.289);
    padding-left: 10px;
}

div.comp > div.meio > p > input:hover{
    border: 3px solid #6b1bc674;
}

div.comp > div.meio > p > input:focus{
    border: 3px solid #6b1bc6b4;
    outline: none;
}

div.baixo{
    width: 100%;
    height: 200px;
}

div.baixo > div{
    position: relative;
    margin-left: 20px;
    width: 92%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.248);
    border-radius: 10px;
}

div.baixo > div > img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

div.baixo > div > p{
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
}

div.opcao-v-e > div.visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 10px;
    cursor: pointer;
}

div.opcao-v-e > div.visualizar > p{
    padding-left: 10px;
}

div.opcao-v-e > div.visualizar > p > span{
    padding-left: 5px;
}


div.opcao-v-e > div.editar{
    display: none;
    background-color: #6b1bc6;
    color: white;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 10px;
    cursor: pointer;
}

div.opcao-v-e > div.editar > p{
    padding-left: 25px;
}

div.opcao-v-e > div.editar > p > span{
    padding-left: 12px;
}

.modalzinho1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalzinho1 > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 85px;
    position: absolute;
    top: 64.5%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.modalzinho1 > div.comporta > div.Visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

div.Visualizar > p{
    padding-top: 3px;
    padding-left: 20px;
}

.modalzinho1 > div.comporta > div.Editar{
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

div.Editar > p{
    padding-top: 5px;
    padding-left: 35px;
}

.modalzinho2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalzinho2 > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 85px;
    position: absolute;
    top: 72%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.modalzinho2 > div.comporta > div.Visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

.modalzinho2 > div.comporta > div.Editar{
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}
.modalzinho3{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalzinho3 > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 85px;
    position: absolute;
    top: 80%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.modalzinho3 > div.comporta > div.Visualizar{
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

.modalzinho3 > div.comporta > div.Editar{
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

.modal-excluir{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-excluir > div.comporta{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    width: 550px;
    height: 27%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-excluir > div.comporta > div.cor{
    width: 5%;
    height: 100%;
    background-color: #6b1bc6;
    border-radius: 10px 0px 0px 10px;
}

.modal-excluir > div.comporta > div.corpo{
    width: 95%;
    height: 100%;
}

.modal-excluir > div.comporta > div.corpo > h1{
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.modal-excluir > div.comporta > div.corpo > hr{
    width: 100%;
}

.modal-excluir > div.comporta > div.corpo > p{
    margin-top: 10px;
    margin-left: 40px;
}

.modal-excluir > div.comporta > div.corpo > p > span{
    color: #6b1bc6;
    font-weight: bold;
}

div.bcr{
    display: flex;
    margin-top: 20px;
}

div.bcr > div.cancelar{
    padding-top: 5px;
    padding-left: 40px;
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    margin-left: 200px;
    cursor: pointer;
}

div.bcr > div.remover{
    display: flex;
    background-color: white;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 22px;
    width: 140px;
    height: 35px;
    margin-left: 10px;
    cursor: pointer;
}

div.bcr > div.cancelar:hover{
    background-color: #7f42c4;
}

div.bcr > div.remover:hover{
    background-color: rgba(255, 0, 0, 0.308);
}

div.modal-editar{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.cont-modal-iframe{
    background-color: #fff;
    border-radius: 10px;
    width: 900px;
    height: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.cont-modal-iframe > iframe{
    border-radius: 10px;
}

div.modal-notf{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.seta {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: relative;
    top: -20px;
    left: 40px;
    position: absolute;
    top: 12%;
    left: 72.25%;
    transform: translate(-50%, -50%);
}

.notificacoes-container{
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 57%;
    position: absolute;
    top: 41%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.notificacoes-container > hr{
    width: 100%;
}

.notificacoes-header{
    margin-top: 10px;
    margin-bottom: 10px;
}

.notificacoes-header > span.titulo-notf{
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.notificacoes-header > span.contador{
    background-color: #6b1bc6;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    font-size: 1em;
    cursor: pointer;
}

.notificacoes-header > span#close-notf{
    background-color: rgba(128, 128, 128, 0.289);
    border-radius: 10px;
    margin-left: 180px;
    cursor: pointer;
}

.notificacao{
    border: 1px solid rgba(0, 0, 0, 0.308);
    margin: 10px;
    height: 67px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.usuario > div > p{
    font-size: 14px;
    color: gray;
}

.nome {
    font-weight: bold;
    color: #6b1bc6;
}

.info {
    text-align: right;
}

.tempo {
    font-size: 16px;
    margin-right: 5px;
    font-weight: bold;
    color: #6b1bc6;
}

div.modal-perfil{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.cont-opt-perfil{
    background-color: #fff;
    border-radius: 10px;
    width: 230px;
    height: 25%;
    position: absolute;
    top: 25.5%;
    left: 85.3%;
    transform: translate(-50%, -50%);
}

div.cont-opt-perfil > hr{
    width: 80%;
}

div.perfil-perfil{
    display: flex;
    color: #6b1bc6;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

div.perfil-perfil > img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

div.perfil-perfil > p{
    padding-top: 7px;
    margin-left: 10px;
}

div.confg-perfil{
    display: flex;
    color: #6b1bc6;
    margin-top: 15px;
    margin-left: 38px;
    margin-bottom: 15px;
    cursor: pointer;
}

a.sair{
    text-decoration: none;
}

div.confg-perfil > p{
    margin-left: 15px;
}

div.sair-perfil{
    display: flex;
    color: #6b1bc6;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 15px;
    cursor: pointer;
}

div.sair-perfil > p{
    margin-left: 15px;
}

div.modalzinho1-mc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho1-mc > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho2-mc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho2-mc > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 52%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho3-mc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho3-mc > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 59%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho4-mc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho4-mc > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 66%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho5-mc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho5-mc > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 73%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho6-mc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho6-mc > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.mc-Editar{
    display: flex;
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

div.mc-Editar > span{
    margin-left: 45px;
}

div.mc-Compartilhar{
    display: flex;
    background-color: white;
    color: #6b1bc6;
    border: 2px solid #6b1bc6;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

div.mc-Excluir{
    display: flex;
    background-color: rgba(255, 0, 0, 0.229);
    color: red;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
    border: 2px solid red;
}

div.mc-Excluir#g-in1, div.mc-Excluir#g-in4{
    color: green;
    background-color: rgba(0, 128, 0, 0.401);
    border: 2px solid green;
}

div.mc-Excluir > span{
    margin-left: 35px;
}

div.cadastrar-usuario{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.cont-casdastro-usuario{
    background-color: #fff;
    border-radius: 10px;
    width: 900px;
    height: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.cont-casdastro-usuario > iframe{
    border-radius: 10px;
}

div.modalzinho1-g{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho1-g > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho2-g{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho2-g > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 52%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho3-g{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho3-g > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 59%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho4-g{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho4-g > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 66%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho5-g{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho5-g > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 73%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.modalzinho6-g{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.modalzinho6-g > div.comporta{
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 130px;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div.editar-usuario{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.cont-editar-usuario{
    background-color: #fff;
    border-radius: 10px;
    width: 900px;
    height: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.cont-editar-usuario > iframe{
    border-radius: 10px;
}


div.modal-ativar{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.cont-modal-ativar{
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: 25%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

div.cont-modal-ativar > div.cor{
    width: 5%;
    height: 100%;
    background-color: #6b1bc6;
    border-radius: 10px 0px 0px 10px;
}

div.cont-modal-ativar > div.corpo{
    width: 95%;
    height: 100%;
}

div.cont-modal-ativar > div.corpo > hr{
    width: 100%;
}

div.cont-modal-ativar > div.corpo > h1{
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.cont-modal-ativar > div.corpo > p{
    margin-top: 10px;
    margin-left: 40px;
}

div.cont-modal-ativar > div.corpo > p > span{
    color: #6b1bc6;
    font-weight: bold;
}
div.cont-modal-ativar > div.corpo > div.botoesAI{
    display: flex;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}

div.cancel{
    margin-right: 10px;
    background-color: #6b1bc6;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    padding-top: 4px;
    padding-left: 20px;
    cursor: pointer;
}

div.cancel:hover{
    background-color: #7f42c4;
}

div.Ativar{
    display: flex;
    background-color: rgba(0, 128, 0, 0.419);
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    padding-top: 3px;
    padding-left: 10px;
    cursor: pointer;
}

div.Ativar:hover{
    background-color: rgba(0, 128, 0, 0.719);
}

div.Ativar > span{
    margin-left: 10px;
}

div.modal-desativar{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

div.cont-modal-desativar{
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: 28%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

div.cont-modal-desativar > div.cor{
    width: 5%;
    height: 100%;
    background-color: #6b1bc6;
    border-radius: 10px 0px 0px 10px;
}

div.cont-modal-desativar > div.corpo{
    width: 95%;
    height: 100%;
}

div.cont-modal-desativar > div.corpo > hr{
    width: 100%;
}

div.cont-modal-desativar > div.corpo > h1{
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.cont-modal-desativar > div.corpo > p{
    margin-top: 10px;
    margin-left: 40px;
}

div.cont-modal-desativar > div.corpo > p > span{
    color: #6b1bc6;
    font-weight: bold;
}
div.cont-modal-desativar > div.corpo > div.botoesAI{
    display: flex;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}

div.desativar{
    display: flex;
    background-color: rgba(255, 0, 0, 0.422);
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    padding-top: 3px;
    padding-left: 6px;
    cursor: pointer;
}

div.desativar:hover{
    background-color: rgba(255, 0, 0, 0.719);
}

div.desativar > span{
    margin-left: 10px;
}